.search-container {
  display: flex;
  flex-direction: column;
  height: 85vh;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.list-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 8px 5px;
  margin-top: 12px;
  overflow: auto;
}

.list-container-item:last-child .search-item-divider {
  display: none;
}

.icon-title {
  display: flex;
  gap: 4px;
  align-items: center;
}

.search-item-divider {
  margin: 0px;
}
