.search-container {
  display: flex;
  flex-direction: column;
  height: 85vh;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.list-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 8px 5px;
  margin-top: 12px;
  overflow: auto;
}

.list-container-item:last-child .search-item-divider {
  display: none;
}

.icon-title {
  display: flex;
  gap: 4px;
  align-items: center;
}

.search-item-divider {
  margin: 10px;
}

.search-go-to-top-button {
  position: fixed;
  right: 10vw;
  bottom: 13vh;
  width: 48px;
  height: 48px;
  background-color: #9BAAF8;
  border-radius: 50px;
  padding: 8px;
}
