.list-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 8px 5px;
  margin-top: 12px;
}

.item-container {
  display: flex;
  flex-direction: column;
  background-color: #dee2e6;
  padding: 6px 12px;
  border-radius: 5px;
}

.icon-title {
  display: flex;
  gap: 4px;
  align-items: center;
}
