.typicalButtonColor {
  background-color: #91a7ff !important;
  border-color: #91a7ff !important;
  color: white !important;
}

.typicalButtonColor:hover {
  background-color: #759aff !important;
  border-color: #759aff !important;
}
.typicalButtonColorTwo {
  background-color: whitesmoke !important;
  border: 1.4px solid #0D0D0D !important;
  color: #0D0D0D !important;
  font-weight: 900;
}

.typicalButtonColorTwo:hover {
  background-color: #759aff !important;
  border-color: #759aff !important;
  color: white !important;
}


.typicalColor {
  color: #91a7ff !important;
}
.typicalBorder {
  border-color: #91a7ff !important;
}

.miniFont {
  font-size : 8rem;
}

.hoverStyle {
  opacity:1;
}
.hoverStyle:hover {
  opacity:1;
}