.typicalButtonColor {
  background-color: #91a7ff !important;
  border-color: #91a7ff !important;
  color: white !important;
}

.typicalButtonColor:hover {
  background-color: #759aff !important;
  border-color: #759aff !important;
}



.typicalColor {
  color: #91a7ff !important;
}
.typicalBorder {
  border-color: #91a7ff !important;
}

.miniFont {
  font-size : 8rem;
}

.hoverStyle {
  opacity:0.7;
}
.hoverStyle:hover {
  opacity:1;
}