/* LoginForm.module.css */

/* Responsive styles for mobile view */
@media (max-width: 576px) {
    .container {
      margin-top: 2rem !important;
    }
  
    .text-center {
      text-align: center !important;
    }
  
    .form-control {
      font-size: 1rem;
      padding: 0.75rem 1rem;
    }
  
    .btn {
      font-size: 1rem;
      padding: 0.75rem 1rem;
    }
  }
  
.setting{
  width:100%;
  height:100%;
}
.centeredContainer {
  display: flex;
  justify-content: center; /* 수평 가운데 정렬 */
  align-items: center; /* 수직 가운데 정렬 */
  /* height: 100vh; 컨테이너의 높이를 화면 전체로 설정하여 가운데 정렬 */
}
.background {
  background: linear-gradient(to right, #966ec1, #91a7ff);
  min-height: 100vh;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
h2 {
  color: white;
  margin-bottom: 1.5rem;
}

.formControl {
  border-radius: 4px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.8); /* 입력 필드 배경색을 약간 투명하게 */
  color: #333; /* 텍스트 색상을 어둡게 */
}

.formLabel {
  color: #0d0d0d; /* 레이블 텍스트 색상을 하얗게 */
  font-weight: 900;
  margin-left : 0.4rem;
  margin-bottom: 1rem;
}
.btn, .linkButton {
  background: linear-gradient(to right, #0d0d0d, #0d0d0d); /* 버튼 배경을 그라데이션으로 설정 */
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  border-radius: 4px;
  transition: background-color 0.3s ease; /* 배경색 전환 애니메이션 */
}

.btn:hover, .linkButton:hover {
  background: linear-gradient(to right, #7a5ca6, #7383db); /* 호버 시 배경색 */
}
.login{
  width:60%;
  height:50px;
  text-align: center;
  margin: 0% 3% 0% 0%;
}
.main{
  width:29%;
  height:50px;
  padding: 0px 0px 0px 0px;
  margin: 0px 4% 0px 4%;
}