.chat-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  background-color: #ececec;
}

.sidebar {
  width: 30%;
  padding: 20px;
  border-right: 1px solid #ccc;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar h2 {
  margin: 10px 0;
  color: #333;
}

.sidebar p {
  margin: 10px 0;
  color: #666;
}

.sidebar a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  margin-top: 20px;
  display: inline-block;
}

.sidebar a:hover {
  text-decoration: underline;
}

.chat {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #f7f7f7;
}

.message {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
  /* align-self: flex-end; 기본적으로 본인 메시지 */
}

.mine-message {
  background-color: #e1ffc7; /* 내가 보낸 메시지 */
  align-self: flex-end;
}

.other-message {
  background-color: #ffffff; /* 다른 사람이 보낸 메시지 */
  border: 1px solid #ddd;
  align-self: flex-start;
}

.notice-message {
  background-color: #f0f0f0; /* 공지 메시지 */
  text-align: center;
}

.message p {
  margin: 0;
}

input {
  width: 75%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 20px;
  margin-right: 10px;
  box-sizing: border-box;
  outline: none;
}

button {
  width: 20%;
  padding: 10px;
  border: none;
  border-radius: 20px;
  background-color: #ffeb3b;
  color: #333;
  cursor: pointer;
  transition: background-color 0.3s;
  outline: none;
}

button:hover {
  background-color: #fdd835;
}

button:active {
  background-color: #fbc02d;
}
