.feedInfo {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.feedMetadata {
  display: flex;
  justify-content: space-between;
}

.feedMetadata img {
  width: 12px;
  height: 12px;
}

.subInfo {
  display: flex;
  gap: 12px;
  font-size: 12px;
}

.feedContent {
  display: flex;
  flex-direction: column;
  margin-left: 12px;
}

.feedContent h4 {
  font-size: 18px;
}

.feedContent p {
  margin: 0px;
  padding: 0px;
  font-size: 14px;
  color: #868e96;
}
