.memberItemContainer {
  display: flex;
  flex-direction: row;
  padding: 6px 12px;
  border-radius: 5px;
  align-items: center;
  gap: 5%;
  justify-content: space-between;
}

.member-item-container img {
  width: 50px;
  height: 50px;
}

.memberSearchProfileContainer {
  display: flex;
  gap: 10px;
}

.memberSearchProfilePhoto {
  border-radius: 1000px;
  width: 50px;
  height: 50px;
}

.memberNameContainer {
  display: flex;
  flex-direction: column;
}

.relationshipContainer {
  display: flex;
  flex-direction: column;
  width: fit-content;
  justify-content: center;
  align-items: center;
}

.relationshipContainer div {
  font-size: 12px;
  color: #868e96;
}

.memberId {
  font-size: 14px;
  color: #adb5bd;
}

.nickname {
  font-size: 18px;
}