/* FeedForm.module.css */

.feedFormContainer {
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

.fileList {
    margin-top: 10px;
}

.fileList .filePreview {
    display: flex;
    align-items: center;
}

.fileList .fileThumbnail {
    max-width: 50px;
    max-height: 50px;
    margin-right: 10px;
}

.fileList .fileName {
    margin-left: 10px;
}

.tagList {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
}

.tagList .badge {
    margin-bottom: 5px;
    cursor: pointer;
}

.tagList .badgeClose {
    margin-left: 5px;
    cursor: pointer;
}

.tagInputContainer {
    max-width: 300px; /* 원하는 너비로 설정 */
}

.tagInput {
    flex: 1; /* 텍스트 박스가 가능한 한 많은 공간을 차지하도록 설정 */
    margin-right: 10px; /* 텍스트 박스와 버튼 사이 간격 설정 */
}

.addButton {
    margin-left: 10px; /* 추가 버튼과 텍스트 박스 사이 간격 설정 */
    width: 120px; /* 버튼의 너비를 120px로 설정 */
    height: 40px; /* 버튼의 높이를 40px로 설정 */
}

.tagBadge {
    margin-bottom: 5px;
    cursor: pointer;
}

.badgeClose {
    margin-left: 5px;
    cursor: pointer;
}
