/* FeedForm.module.css */

.feedFormContainer {
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

.fileList {
    margin-top: 10px;
}

.fileList .filePreview {
    display: flex;
    align-items: center;
}

.fileList .fileThumbnail {
    max-width: 50px;
    max-height: 50px;
    margin-right: 10px;
}

.fileList .fileName {
    margin-left: 10px;
}

/* 태그 관련 */

.tagList {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}

.tagList .badge {
    margin-bottom: 5px;
    cursor: pointer;
}

.tagList .badgeClose {
    margin-left: 5px;
    cursor: pointer;
}

.tagInputContainer {
    display: flex;
    align-items: center;
}

.tagInput {
    margin-bottom: 10px;
}

.addButton {
    align-self: flex-start;
    margin-bottom: 10px;
}

.tagBadge {
    display: inline-flex;
    align-items: center;
    margin-bottom: 5px;
    cursor: pointer;
    background-color: #9BAAF8 !important; /* 배지 색상 변경 */
    font-size: 1.1em; 
    padding: 0.5em 1em;
    color: white;
}

.badgeClose {
    margin-left: 5px;
    cursor: pointer;
}
