.navbar-icons {
    display: flex;
    align-items: center;
  }

/* 아이콘 사이에 10px 공백 추가 */
.navbar-icons > * {
    margin-left: 10px; 
}

/* 첫 번째 아이콘의 왼쪽 마진 제거 */
.navbar-icons > *:first-child {
    margin-left: 0; 
}