/*
FeedItem, FeedDetail에 적용
*/
.feedCategory {
    border: 1px solid #ccc; /* 구분선 */
    border-radius: 4px; /* 둥근 모서리 */
    padding: 5px 10px; /* 패딩 */
    background-color: #f8f9fa; /* 배경색 */
    font-weight: bold; /* 텍스트 굵게 */
}

.feedCategoryDetail {
    border: 1px solid #ccc; /* 구분선 */
    border-radius: 4px; /* 둥근 모서리 */
    padding: 5px 10px; /* 패딩 */
    background-color: #f8f9fa; /* 배경색 */
    font-weight: bold; /* 텍스트 굵게 */
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.iconContainer {
    display: flex;
    align-items: center;
}

.iconContainer span {
    margin-left: 10px;
    cursor: pointer;
}